nz-layout{
    height: 100%!important;
    width: 100%!important;
    overflow-x:hidden!important;
    overflow-y:hidden!important;
   
}
nz-sider{
    background-color:#2C2B29!important;
    width: 100%!important;
    min-height: 100%!important;  
}

.trigger {
    font-size: 18px;
    line-height: 4px;
    padding: 0 0px;
    cursor: pointer;
    transition: color 0.3s;
    color:#C99D4A;
  }
  
.custom-button{  
    color:white;
    background-color:#C99D4A;
    border-radius: 5px;
}


.customLoader {
    font-size: 75px;
    top: 50%;
    left: 50%;
    position: fixed;
    color: #C99D4A;
  }
  
  .loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000079;
  
  }
  
  .blurPage{
    filter: blur(8px);
  }
  
.logo{
    margin-top:5px;
    height: 70px;
    width: 180px;
   }
 

.LiCustom{
    font-size:18px;
    color: #c99d4a !important;
 }
 .profile-custom{
   font-size:20px;
   color: #c99d4a !important;
 }

 nz-header{
   background-color:#2C2B29!important;
   height: 80px !important;
 }

 ul{
   margin-top:10px;;
   background-color:#2C2B29!important;
 }



 li{
     font-size:16px;
     color:#C99D4A;
     font-family:'Dax-Regular'!important;
 }
