<nz-layout>
    <nz-sider [nzWidth]="250">
        <div class="d-flex mt-3"><img src="assets/logo.png" class="logo"></div>
        <ul nz-menu class="mt-5" nzMode="inline">
            <li>
                <ul>
                    <li nz-menu-item style="padding-left:50px;border:1px solid">MONTHLY INVOICE</li>
                    <li nz-menu-item style="padding-left:65px" routerLink="/suppliers">SUPPLIER LIST</li>
                </ul>
            </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-content>
            <div class="inner-content container" [ngClass]="{'blurPage': showLoader}">
                <div class="container">
                    <div class="row">
                        <i class="trigger" nz-icon></i>
                        <div class="col-sm-12 col-md-3 col-lg-3 mt-3">
                            <h3>Monthly Invoice</h3>
                        </div>
                        <div class="col-sm-12 col-md-5 col-lg-5 mt-3">
                            <nz-form-item>
                                <nz-form-label class="fs-5 fw-400">Choose Month</nz-form-label>
                                <nz-form-control>
                                    <nz-date-picker nzMode="month" [nzFormat]="'MM/yyyy'" [(ngModel)]="month"
                                        (ngModelChange)="onChange($event)">
                                    </nz-date-picker>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div  *ngIf="isVisible" class="col-sm-12 col-md-4 col-lg-4 mt-3 d-flex justify-content-end">
                            <button nz-button class="btn-custom" printSectionId="printSection" (click)="printInvoice()" ngxPrint>
                                Print Report
                            </button>
                        </div>
                    </div>

                    <div class="row" id="printSection">
                        <div class="col-sm-12 col-md-12 col-lg-12" *ngIf="isVisible">
                            <div class="row mb-3">
                                <div class="col-sm-12 col-md-3 col-lg-3 me-3">
                                    <nz-form-item>
                                        <nz-form-label class="fs-5 fw-400">Date</nz-form-label>
                                        <nz-form-control >
                                            <!-- <nz-date-picker class="form-control" ></nz-date-picker> -->
                                            <nz-date-picker style="width:100%"  nz-input nzMode="month" [nzFormat]="'dd/MM/yyyy'" [(ngModel)]="invoiceDate">
                                    </nz-date-picker>
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                                <div class="col-sm-12 col-md-5 col-lg-5">
                                    <nz-form-item>
                                        <nz-form-label class="fs-5 fw-400 me-2">Invoice Reference</nz-form-label>
                                        <nz-form-control>
                                            <input nz-input class="form-control" [(ngModel)]="invoiceReferenceNumber">
                                        </nz-form-control>
                                    </nz-form-item>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="table-responsive" >
                                        <nz-table id="InvoiceTable" #rowSelectionTable [nzData]="MonthalyInvoiceData" [nzPageSize]="100"
                                            #hhtpTable (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
                                            [nzScroll]="{ x: '1900px', y: '350px'}">
                                            <thead>
                                                <tr>
                                                    <th [(nzChecked)]="checked" [nzIndeterminate]="indeterminate"
                                                        (nzCheckedChange)="onAllChecked($event)" nzLeft></th>
                                                    <th nzLeft>Supplier Name</th>
                                                    <th>Hair Services</th>
                                                    <th>Beauty Services</th>
                                                    <th><input class="w-100" nz-input [(ngModel)]="customHeader1"
                                                            placeholder="Custom-1"></th>
                                                    <th><input class="w-100" nz-input [(ngModel)]="customHeader2"
                                                            placeholder="Custom-2"></th>
                                                    <th><input class="w-100" nz-input [(ngModel)]="customHeader3"
                                                            placeholder="Custom-3"></th>
                                                    <th><input class="w-100" nz-input [(ngModel)]="customHeader4"
                                                            placeholder="Custom-4"></th>
                                                    <th><input class="w-100" nz-input [(ngModel)]="customHeader5"
                                                            placeholder="Custom-5"></th>
                                                    <th>Net</th>
                                                    <th>VAT</th>
                                                    <th>Gross</th>
                                                    <th>Advance Paid</th>
                                                    <th>Balance Due</th>
                                                    <th nzRight>Approved</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let data of hhtpTable.data">
                                                    <td [nzChecked]="setOfCheckedId.has(data.SupplierId)"
                                                        (nzCheckedChange)="onItemChecked(data.SupplierId, $event)" nzLeft>
                                                    </td>
                                                    <td nzLeft>{{data.SupplierName}}</td>
                                                    <td><input type="number" class="w-100" nz-input [(ngModel)]="data.HairServices" (change)="changeValue(data)" [disabled]="data.Approved"></td>
                                                    <td><input type="number" class="w-100" nz-input [(ngModel)]="data.BeautyServices" (change)="changeValue(data)" [disabled]="data.Approved"></td>
                                                    <td><input type="number" class="w-100" nz-input [(ngModel)]="data.CustomService1" (change)="changeValue(data)" [disabled]="data.Approved">
                                                    </td>
                                                    <td><input type="number" class="w-100" nz-input [(ngModel)]="data.CustomService2" (change)="changeValue(data)" [disabled]="data.Approved">
                                                    </td>
                                                    <td><input type="number" class="w-100" nz-input [(ngModel)]="data.CustomService3" (change)="changeValue(data)" [disabled]="data.Approved">
                                                    </td>
                                                    <td><input type="number" class="w-100" nz-input [(ngModel)]="data.CustomService4" (change)="changeValue(data)" [disabled]="data.Approved">
                                                    </td>
                                                    <td><input type="number" class="w-100" nz-input [(ngModel)]="data.CustomService5" (change)="changeValue(data)" [disabled]="data.Approved">
                                                    </td>
                                                    <td>{{getNet(data) | number :'1.2-2'}}</td>
                                                    <td>{{getVAT(data) | number :'1.2-2'}}</td>
                                                    <td>{{getGross(data) | number :'1.2-2'}}</td>
                                                    <td><input type="number" class="w-100" nz-input [(ngModel)]="data.AdvancePaid"></td>
                                                    <td>  {{getBalanceDue(data) >= 0 ? (getBalanceDue(data) | number :
                                                        '1.2-2') : '(' + getBalanceDue(data).toFixed(2) + ')'}}</td>
                                                    <td nzRight style="text-align:center"><input class="check" type="checkbox" disabled [checked]="data.Approved"></td>
                                                </tr>
                                                <tr>
                                                    <td [colSpan]="9" class="fs-6"><b
                                                            class="d-flex justify-content-end">TOTAL:</b></td>
                                                    <td>{{getTotalNET(hhtpTable.data) | number :'1.2-2'}}</td>
                                                    <td>{{getTotalVET(hhtpTable.data) | number :'1.2-2'}}</td>
                                                    <td>{{getTotalGross(hhtpTable.data) | number :'1.2-2'}}</td>
                                                    <td>{{getTotalAdvancePay(hhtpTable.data) | number :'1.2-2'}}</td>
                                                    <td>{{getTotalBalanceDue(hhtpTable.data) | number :'1.2-2'}}</td>
                                                </tr>
                                            </tbody>
                                        </nz-table>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-2 mt-3" *ngIf="isVisible">
                                <div class="col-sm-12 col-md-3 col-lg-3 d-flex justify-content-end">
                                    <button nz-button class="btn customFooterButton" style="width:85%" (click)="Approved()"><span
                                            style="padding-right:10px"><img src="assets/check.png"
                                                style="height:15px;width:15px" /></span>APPROVE SELECTED
                                        INVOICES</button>
                                </div>
                                <div class="col-sm-12 col-md-4 col-lg-4  d-flex justify-content-center">
                                    <button nz-button class="btn customFooterButton" style="width:90%" (click)="CombinePDF()"><span
                                            style="padding-right:10px"><img src="assets/download.png"
                                                style="height:18px;width:18px" /></span>COMBINE & DOWNLOAD SELECTED
                                        INVOICES</button>
                                </div>
                                <div class="col-sm-12 col-md- col-lg-3 d-flex justify-content-start">
                                    <button nz-button class="btn customFooterButton" style="width:80%"
                                        (click)="sendEmail()"><span style="padding-right:10px"><img
                                                src="assets/email.png" style="height:15px;width:15px" /></span>EMAIL
                                        SELECTED INVOICES</button>
                                </div>
                                <div class="col-sm-12 col-md-2 col-lg-2 d-flex justify-content-center">
                                    <button nz-button class="btn saveButton" (click)="saveInvoice()">SAVE</button>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <div *ngIf="showLoader">
                <div style="display:flex;justify-content:center;align-items:center;" class="loader-container">
                    <i nz-icon [nzType]="'loading'" class="customLoader"></i>
                </div>
            </div>

        </nz-content>
    </nz-layout>
</nz-layout>

<div  style="display:none" id="printableTable">
<div class="head">
    <div class="row">
        <div>
           <p style="font-size:30px">Monthly Invoice</p>
        </div>
    </div>

    <div class="row">
        <div class="col-3" style="font-size:25px">
          Date:{{invoiceDate | date:'dd/MM/yyyy'}}
        </div>
        <div class="col-3" style="font-size:25px">
            Month:{{month | date:'MM/yyyy'}}
        </div>
        <div class="col-6" style="font-size:25px">
            Invoice Reference:{{invoiceReferenceNumber}}
        </div>
    </div>
</div>

<nz-table [nzShowPagination]="false" [nzOuterBordered]="true" class="mt-2" [nzData]="MonthalyInvoiceData" #printableTable>
    <thead>
        <tr style="font-size:15px">
            <th>Supplier Name</th>
            <th>Hair Services</th>
            <th>Beauty Services</th>
            <th>{{customHeader1}}</th>
            <th>{{customHeader2}}</th>
            <th>{{customHeader3}}</th>
            <th>{{customHeader4}}</th>
            <th>{{customHeader5}}</th>
            <th>Net</th>
            <th>VAT</th>
            <th>Gross</th>
            <th>Advance Paid</th>
            <th>Balance Due</th>
        </tr>
    </thead>
    <tbody >
        <tr *ngFor="let data of printableTable.data">
            <td nzLeft>{{data.SupplierName}}</td>
            <td>{{data.HairServices || 0 | number :'1.2-2'}}</td>
            <td >{{data.BeautyServices || 0 | number :'1.2-2'}}</td>
            <td >{{data.CustomService1 || 0 | number :'1.2-2'}}
            </td>
            <td>{{data.CustomService2 || 0 | number :'1.2-2'}}
            </td>
            <td >{{data.CustomService3 || 0 | number :'1.2-2'}}
            </td>
            <td >{{data.CustomService4 || 0 | number :'1.2-2'}}
            </td>
            <td>{{data.CustomService5 || 0 | number :'1.2-2'}}
            </td>
            <td>{{data.Net | number :'1.2-2'}}</td>
            <td >{{(data.HairServices+data.BeautyServices+data.CustomService1+data.CustomService2+data.CustomService3+data.CustomService4+data.CustomService5) | number :'1.2-2'}}</td>
            <td >{{data.Gross | number :'1.2-2'}}</td>
            <td>{{data.AdvancePaid | number :'1.2-2'}}</td>
            <td> {{getBalanceDue(data) >= 0 ? (getBalanceDue(data) | number :
                '1.2-2') : '(' + getBalanceDue(data).toFixed(2) + ')'}}</td>
        </tr>
        <tr>
            <td  [colSpan]="8"><b
                    class="d-flex justify-content-center">TOTAL</b></td>
            <td><b>{{getTotalNET(printableTable.data) | number :'1.2-2'}}</b></td>
            <td><b>{{getTotalVET(printableTable.data) | number :'1.2-2'}}</b></td>
            <td><b>{{getTotalGross(printableTable.data) | number :'1.2-2'}}</b></td>
            <td><b>{{getTotalAdvancePay(printableTable.data) | number :'1.2-2'}}</b></td>
            <td><b>{{getTotalBalanceDue(printableTable.data) | number :'1.2-2'}}</b></td>
        </tr>
    </tbody>
  </nz-table>
</div>