* {
    margin: 0;
    padding: 0;
    padding-left: 0px;
    padding-right: 0px;
  }
.image-block {
    background-size: cover;
    height: 41rem;
    position: relative;
    background-position: center center;
}
    .image-block .overlay {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .img-white-logo{
        width:60%;
    }
    .image-block .account-testimonial {
        text-align: center;
        color: #fff;
        position: absolute;
        bottom: 15rem;
        align-items: center;
    }

    .image-block .side_logo {
        height: 50px;
         width: 80%;
    }

.btn-custom{
    background-color: rgb(201,157,74);
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}
.btn-custom:hover{
    background-color: rgb(201,157,74);
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

.logo_img {
    margin-top: 5rem;
    height:auto; 
    height:100px;
    width:385px; 
    margin-left: -8rem;
    padding-left:120px;
}

@media only screen and (max-width: 768px) {
 .logo_img{
      margin-top: 0rem;
      height: 80px;
      width: 80rem;
      margin-left: -5rem;
    }
}

.button-custom{
    width:100%;
    background-color:#C99D4A;
    color:white;
    height:5vh;
}

.ant-input{
    height:5vh;
    width:100%;
    font-size:15px;
}

.P-5{
padding:70px;
}

label{
    font-weight:600;
}

.custom-title{
    font-size:14px;
}

.form-container{
   width:35%;
   font-family:'Dax-Regular'!important;
}
    