
<nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null" [nzWidth]="250">
        <div class="d-flex mt-3"><img src="assets/logo.png" class="logo"></div>
        <ul nz-menu class="mt-5" nzMode="inline">
            <li>
                <ul>
                    <li nz-menu-item style="padding-left:50px">MONTHOLY INVOICE</li>
                    <li nz-menu-item style="padding-left:65px">SUPPLIER LIST</li>
                </ul>
            </li>
        </ul>
    </nz-sider>
    <nz-content>
        <div class="main-container" [ngClass]="{'blurPage': showLoader}">
            <div class="search-box row p-3">
                <div class='col-5'>
                    <p class="title-design">Suppliers List</p>
                </div>
                <div class="col-5">
                    <nz-input-group nzPrefixIcon="search">
                        <input type="text" nz-input placeholder="Search here.." (keyup)="search()"
                            [(ngModel)]="searchValue" />
                    </nz-input-group>
                </div>
                <div class="col-2">
                    <nz-input-group>
                        <button nz-button class="custom-button" (click)="showModal()">ADD SUPPLIER</button>
                    </nz-input-group>
                </div>
                <div col-12>
                    <nz-table class="table-design" [nzData]="supplierList" nzDark [nzPageSize]="10" nzShowPagination #hhtpTable>
                        <thead class="border thead-design">
                            <tr>
                                <th [nzSortFn]="sortRefFn">Supplier Reference</th>
                                <th [nzSortFn]="sortNamefn">Supplier Name</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="tr-custom" *ngFor="let data of hhtpTable.data">
                                <!-- <td>123456</td>
                                <td>Prince Patel</td>
                                <td><nz-switch [ngModel]="true"></nz-switch></td>  -->
                                <td nzEllipsis>{{data.SupplierReferenceNumber}}</td>
                                <td nzEllipsis>{{data.SupplierName}}</td>
                                <td ><nz-switch [(ngModel)]="data.IsActive" (ngModelChange)="supplierStatus(data)"></nz-switch></td>
                                <td>
                                    <i nz-icon nzType="edit" class="icon-custom p-2" (click)="EditProduct()"></i>
                                    <i nz-icon nzType="delete" nz-popconfirm
                                        nzPopconfirmTitle="Sure to delete?" class="icon-custom p-3" (nzOnConfirm)="DeleteSupplier(data)"></i>
                                </td>
    
                            </tr>
                        </tbody>
                    </nz-table>
                </div>
            </div>
        </div>

        <div *ngIf="showLoader">
          <div style="display:flex;justify-content:center;align-items:center;" class="loader-container">
            <i nz-icon [nzType]="'loading'" class="customLoader"></i>
          </div>
        </div>

        <nz-modal [(nzVisible)]="isVisible" [nzWidth]="650" nzTitle="Add New Supplier" [nzFooter]="modalFooter" nzCentered (nzOnCancel)="handleCancel()">
            <ng-container  *nzModalContent>
                <form nz-form [formGroup]="validateSupplierForm" class="login-form" >
                  <div class="modal-container">
                  <div class="row">
                    <div class="col-6">
                      <label>Supplier Name</label>
                      <nz-form-item>
                      <nz-form-control [nzErrorTip]="supplierNameError">
                        <nz-input-group>
                          <input type="text" nz-input class="input-design" formControlName="Name"/>
                        </nz-input-group>
                        <ng-template  #supplierNameError let-control>
                          <ng-container *ngIf="control.hasError('required')">
                            Please input supplier Names.
                          </ng-container>
                          <ng-container *ngIf="control.hasError('pattern')">
                            Only alpanumeric input allowed.
                          </ng-container>
                        </ng-template>
                      </nz-form-control>
                    </nz-form-item>
                    </div>
                    <div class="col-6">
                      <label>Supplier Reference</label>
                      <nz-form-item>
                      <nz-form-control nzErrorTip="Please input your Supplier Reference">
                        <nz-input-group>
                          <input  type="text" nz-input  class="input-design" formControlName="Reference"/>
                        </nz-input-group>
                      </nz-form-control>
                    </nz-form-item>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12">
                      <label>Business Address</label>
                      <nz-form-item>
                        <nz-form-control  nzErrorTip="Please input Supplier Address!">
                          <textarea nz-input formControlName="Address"></textarea>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-6">
                      <label>Email Address</label>
                      <nz-form-item>
                      <nz-form-control  [nzErrorTip]="supplieremailError">
                        <nz-input-group>
                          <input type="email" nz-input class="input-design" formControlName="email"/>
                        </nz-input-group>
                       
                        <ng-template  #supplieremailError let-control>
                           <ng-container *ngIf="control.hasError('required')">
                          Please input supplier Names.
                        </ng-container>
                          <ng-container *ngIf="control.hasError('email')">
                            Please enter valid email.
                          </ng-container>
                        </ng-template>
                      </nz-form-control>
                    </nz-form-item>
                    </div>
                    <div class="col-6">
                      <label>Phone Number</label>
                      <nz-form-item>
                      <nz-form-control nzErrorTip="Please input your Phone Number">
                        <nz-input-group>
                          <input  type="text" nz-input  class="input-design" formControlName="phone"/>
                        </nz-input-group>
                      </nz-form-control>
                    </nz-form-item>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-6">
                      <label>Company Registered Number</label>
                      <nz-form-item>
                      <nz-form-control nzErrorTip="Please input company registered number!">
                        <nz-input-group>
                          <input type="email" nz-input class="input-design" formControlName="comapanyNumber"/>
                        </nz-input-group>
                      </nz-form-control>
                    </nz-form-item>
                    </div>
                    <div class="col-6">
                      <label>VAT Number</label>
                      <nz-form-item>
                      <nz-form-control nzErrorTip="Please input your VAT Number">
                        <nz-input-group>
                          <input  type="text" nz-input  class="input-design" formControlName="VAT"/>
                        </nz-input-group>
                      </nz-form-control>
                    </nz-form-item>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12">
                      <label>Tax Reference</label>
                      <nz-form-item>
                        <nz-form-control  nzErrorTip="Please input Tax Reference!">
                          <input type="text" nz-input formControlName="taxRef"/>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12">
                      <label>Company Registered Address</label>
                      <nz-form-item>
                        <nz-form-control  nzErrorTip="Please input company registered address !">
                          <textarea nz-input formControlName="ComapanyAddress"></textarea>
                        </nz-form-control>
                      </nz-form-item>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-6">
                      <label>Upload Invoice Logo</label>
                      <nz-form-item>
                      <nz-form-control>
                        <nz-upload  nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76" [nzFileType]="'image/png,image/jpeg,image/gif'" nzListType="picture"
                          formControlName="filename">
                          <button nz-button>
                            <span>
                              <i nz-icon nzType="upload"></i>
                              Upload
                            </span>
                          </button>
                        </nz-upload>
                      </nz-form-control>
                    </nz-form-item>
                    </div>
                    <div class="col-6">   
                      <nz-form-item>
                      <nz-form-control>
                        <nz-input-group>
                          <label style="padding-right:10px;">Is Active?</label>
                          <nz-switch [ngModel]="true"></nz-switch>
                        </nz-input-group>
                      </nz-form-control>
                    </nz-form-item>
                    </div>
                  </div>
                </div>
                  </form>
            </ng-container>
            <ng-template #modalFooter>
              <button nz-button class="save-btn"(click)="handleOk()">Save</button>
              <button nz-button (click)="handleCancel()">Cancel</button>
            </ng-template>
          </nz-modal>
    </nz-content>
  </nz-layout>
      
